<!-- /app/second-menu/* custom container -->


<router-outlet></router-outlet>

<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr> <th>Id</th><th>dateDeDebut</th> <th>dateDeDefin</th>  </tr>
                </thead>
                <tbody *ngFor="let Reservation of reservation">
                    <tr >
                        <td>{{Reservation.idResarvation}}</td>
                      
                        <td>{{Reservation.dateDeDebut | date:'dd/MM/yyyy' }}</td>
                        <td>{{Reservation.dateDeDefin | date:'dd/MM/yyyy' }}</td>
                     
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>